<footer>
  <div class="row">
      <div class="col-xs-3 footer-navigation">
          <!-- <img class="companylogo img-circle" src="assets/img/rhinclogo.png" alt="" /> -->
          <p class="company-name">                   DTF Customs</p>
      </div>
      <!-- <div class="col-xs-3 footer-contacts">
          <div><i class="fa fa-envelope footer-contacts-icon"></i>
              <p> <a href="mailto:saif.amer@gmail.com?Subject=Web%20Consulting" target="_blank">tryggr21@gmail.com</a></p>
          </div>
      </div> -->
  </div>
</footer>