
<section id="header">
    <!-- <video autoplay muted loop id="myVideo">
            <source src="assets/img/header.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
    </video> -->
    <div id="header-wrapper" class="headerClass">
        <header class="clearfix">
            <div class="container">
                    <div class="col-xs-12">
                            <!-- <img src="assets/img/rhinclogo.png" alt="" /> -->
                        <h1><strong class="headerText">DTF Customs</strong></h1>
                        <div id="main-flexslider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <p class="home-slide-content"> <strong> Bring your visions to life </strong> </p>
                                </li>
                                <li>
                                    <p class="home-slide-content"><strong>Work with design experts make personalized products </strong></p>
                                </li>
                                <li>
                                    <p class="home-slide-content"><strong>Make personalized products </strong></p>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </header>
    </div>
</section>
<section id="about" class="section">
    <div class="container">
        <h4>What we do</h4>
        <div class="row">
            <div class="col-sm-6">
                    <p>Manufacturing grade materials made within industry standards</p>
                    <h2>We can make your dream a reality, no matter the material <strong>PROFITS</strong></h2>
                    <p><br> Digital Age Allows the ordinary to possess the Extraordinary <br> <br>
                        <!-- <a href="mailto:tryggr21@gmail.com">Contact us</a> and start building your fortune today! -->
                    </p>
            </div>
            <div class="col-sm-6">
                    <img class="mainimg img-circle" src="assets/img/icons/continous.jpg" alt="" />
            </div>
        </div>

    </div>
</section>
<!-- <div>Icons made by <a href="https://www.flaticon.com/packs/education-1-4" title="Zlatko Najdenovski">Zlatko Najdenovski</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="https://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
<section id="services" class="section teal">
    <div class="container">
        <h4>Services</h4>
        <div class="row">
            <div class="col-sm-4">
                <div class="service-box">
                    <img class="servimg" src="assets/img/icons/open_book.png" alt="" />
                    <h2 class="serviceHeader">Creators: Apply now!<br>(0.5+ BTC)</h2>
                    <p>Industry Experience with Manufacturing Experts <br>
                        - Customer-Facing and Agile<br>
                        - Empowering businesses in low risk ways during their free time <br>
                        - Tranparent pricing and knowledge- no sugarcoating/p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-box">
                    <img class="servimg" src="assets/img/icons/bell.png" alt="" />
                    <h2 class="serviceHeader">Iterated Product Design <br>(2+ BTC)</h2>
                    <p>Intelligent Design Process: Multiple Designs Tested at Once <br>
                        - Industry Leading Connections <br>
                        - Measurements made to guaranteed size
                        - One on One Meetings with Design Experts
                        - DTF Customs will work around your schedule 
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-box">
                    <img class="servimg" src="assets/img/icons/earth_globe.png" alt="" />
                    <h2 class="serviceheader">Design in the Digital Age</h2>
                    <p>Unprecedented Freedoms:
                            - Your design in any material <br>
                            - Gold, Silver, and many more Aerospace and Medical Grade Materials Available <br>
                            - Ideas become professional grade products <br>
                            - Empowering Creators with minimal time comittment<br>
                            - 24/7 support connects DTF Custom to the world </p>
                </div>
            </div>
        </div>
    </div>
</section>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-2x"></i></a>